table.userList.card(ng-init="model.getData()")
    thead
        th(ng-repeat='field in model.fields' ng-bind='field' ng-click="model.sortDet = field; model.sortRev = !model.sortRev"){{sortDet}}
    tbody.list
        tr(ng-repeat = "user in (model.UserList | filter:query | orderBy:model.sortDet:model.Rev)" ng-click="model.chooseUser(user.id)").userList-user
            td(ng-repeat="field in model.fields" ng-bind='user[field]')
